* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  color: white;
  font-family: Didot, serif;
}
/*nav bar style*/
header {
  padding: 20px 35px;
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}
header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #fce138;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
  text-decoration: none;
  color: white;
}
header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;
}
.container {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px 5px 5px 5px;
  background-color: black;
  padding: 15px 15px 15px 15px;
}
h2 {
  background-color: white;
  float: left;
  border-radius: 15px;
  size-adjust: 0 5 0 5;
  width: 20%;
}
.subtitle {
  background-image: ;
}
/*about me style*/
.flex-row {
  display: flex;
  /*justify-content: space-evenly;*/
}
img {
  border: 1px solid #ddd;
  border-radius: 15px;
  opacity: 0.5;
  padding: 5px;
  width: 15%;
  min-width: 200px;
  margin-right: 2%;
}
.text {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px;
  width: 80%;
  line-height: 30px;
  font-style: arial;
  background-color: #ddcad9;
  background-image: linear-gradient(315deg, #ddcad9 0%, #d1b1cb 74%);
}
.text a {
  display: inline-block;
}

img:hover {
  box-shadow: 0 0 1px 1px lavender;
  opacity: 1;
}
.section-border {
  font-size: 48px;
  border-right: 3px solid;
  color: #024e76;
  padding-right: 15px;
  text-align: right;
  margin: 5 auto 0 auto;
  width: 20%;
  min-width: 20%;
}
/* .run-buddy {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  opacity: 1;
  min-width: ;
}
.run-buddy:hover {
  opacity: 0.5;
} */
.img2 {
  width: 80%;
  min-width: 80%;
  height: auto;
  border: 1px solid #ddd;
  /* border-radius: 15px; */
}
.contact-img {
  border: 1px solid #ddd;
  border-radius: 15px;
  opacity: 0.5;
  padding: 5px;
  width: 15%;
  margin-right: 2%;
}
